/* 
 *   登陆页面样式
 */
 .login{
    background-image: url("../../assets/img/15812.jpg");
    background-size: cover;
    height: 100%;
    .login-box{
        width: 500px;
        height: 300px;
        border: 1px solid #fff;
        // background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding-right: 60px;
        padding-bottom: 40px;
        h2{
            color: #fff;
            padding: 20px 60px 20px 67px;
        }
        .el-form{
            .el-form-item{
                .el-form-item__label{
                    color: #fff;
                }
                .el-input__inner{
                    background: rgba(0, 0, 0, 0);
                    color: #fff;
                }
                .el-button{
                    background: rgba(0, 0, 0, 0);
                    color: #fff;
                }
            }
        }
    }
}